@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

::view-transition-old(root) {
    animation: fade-and-scale-out 0.5s ease-in-out 1 forwards;
}

::view-transition-new(root) {
    animation: fade-and-scale-in 10s ease-in-out 1 forwards;
}

@keyframes fade-and-scale-in {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-and-scale-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

/* Second animation */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slogan {
    font-family: 'Shadows Into Light', cursive;
}

.title {
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 44px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    bottom: 15px;
}

body {
    background: #111;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: -4px;
}

.line {
    background: #46a1de;
    width: 4px;
    height: 1px;
    float: left;
    animation: wave 1.2s infinite ease-in-out alternate;
    z-index: 1;
    position: absolute;
}

@-moz-keyframes wave {
    0% {
        transform: translateY(-10px);
        height: 11px;
    }

    100% {
        transform: translateY(-100px);
        height: 100px;
    }
}

@-webkit-keyframes wave {
    0% {
        transform: translateY(-10px);
        height: 11px;
    }

    100% {
        transform: translateY(-100px);
        height: 100px;
    }
}

@-o-keyframes wave {
    0% {
        transform: translateY(-10px);
        height: 11px;
    }

    100% {
        transform: translateY(-100px);
        height: 100px;
    }
}

@keyframes wave {
    0% {
        transform: translateY(-10px);
        height: 11px;
    }

    100% {
        transform: translateY(-100px);
        height: 100px;
    }
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 21rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 6rem;
    height: 6rem;
    background: #46a1de;
    border-radius: 3.25rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 2.15rem;
    top: 0.2rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.15rem 0;
    margin: 0 0 0 1.85rem;
    color: #46a1de;
    opacity: 0.8;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
    opacity: 1;
}

#container {
    position: absolute;
    right: 2%;
    top: 8%;
    grid-area: main;
    align-self: center;
    justify-self: center;
}

.waterContainer {
    animation: fade 0.2s ease-in-out 1 forwards;
}

@keyframes fade{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
